/** Media Queries **/
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
}

.contenedor {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.centrado {
  text-align: center;
}

.oculto {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .logo {
  padding: 1.4rem 0;
}

.carrito-compras {
  position: relative;
}

.carrito-compras .contenido {
  display: none;
}

.carrito-compras:hover .contenido {
  display: block;
  position: absolute;
  right: 0;
  background-color: #FFFFFF;
  padding: 1rem;
  width: 400px;
}

.carrito-compras:hover .contenido .boton {
  background-color: #741d51;
  padding: .5rem 1rem;
  display: block;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 24rem;
  color: #FFFFFF;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .contenido-hero h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.6rem;
}

.hero .contenido-hero p {
  font-size: 1rem;
}

.hero .contenido-hero form {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .hero .contenido-hero form {
    width: 40%;
  }
}

.hero .contenido-hero form input[type="submit"] {
  position: absolute;
  right: 0;
  top: .1rem;
  text-decoration: none;
  border: none;
  text-indent: -9999px;
  display: block;
  background-image: url(../img/lupa.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: calc( 3rem - 10px);
  height: calc( 3rem - 10px);
  background-color: #FFFFFF;
}

.hero .contenido-hero form input[type="text"] {
  width: 100%;
  height: 3rem;
}

.barra {
  min-height: 5rem;
  background: #741d51;
  color: #FFFFFF;
  background: linear-gradient(to right, #741d51 0%, #e44e52 100%);
}

.barra .iconos {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.4rem 0;
}

@media only screen and (min-width: 1024px) {
  .barra .iconos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.barra .iconos .icono {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-repeat: no-repeat;
  background-position: left center;
  text-align: center;
  background-size: 2.4rem;
}

.barra .iconos .icono.icono1 {
  background-image: url(../img/icono1.png);
}

.barra .iconos .icono.icono2 {
  background-image: url(../img/icono2.png);
}

.barra .iconos .icono.icono3 {
  background-image: url(../img/icono3.png);
}

/** Cursos **/
.cursos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cursos .curso {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(50% - 1rem);
  flex: 0 1 calc(50% - 1rem);
  background-color: #FFFFFF;
  margin-bottom: 1rem;
  border: 1px solid #e1e1e1;
}

.cursos .curso .imagen-curso {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .cursos .curso {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(33% - 1rem);
    flex: 0 1 calc(33% - 1rem);
  }
}

@media only screen and (min-width: 1024px) {
  .cursos .curso {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(25% - 1rem);
    flex: 0 1 calc(25% - 1rem);
  }
}

.cursos .curso .info-curso {
  padding: 1rem 1rem;
}

.cursos .curso .info-curso h4 {
  margin: 0;
  font-size: 1.2rem;
}

.cursos .curso .info-curso .boton {
  background-color: #33C3F0;
  padding: .5rem 1rem;
  display: block;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.cursos .curso .info-curso .precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cursos .curso .info-curso .precio .oferta {
  text-decoration: line-through;
  font-size: 1.4rem;
  font-weight: 700;
}

.footer {
  border-top: 1px solid #e1e1e1;
  margin-top: 1rem;
  padding-top: 2rem;
}

.footer .contenedor-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media only screen and (min-width: 480px) {
  .footer .contenedor-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 480px) {
  .menu {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

@media only screen and (min-width: 1024px) {
  .menu {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(30% - 1rem);
    flex: 0 1 calc(30% - 1rem);
  }
}

.menu a {
  color: black;
  text-decoration: none;
  margin-bottom: .4rem;
}
